.main_page {
  display: flex;
}

.left_bar {
  background-color: #fff;
  border-right: 1px solid #6cbafe;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 20px 0;
  width: 200px;
}
.menu {
  border-bottom: 50px;
  margin-top: 30px;
}

.left_bar img {
  height: 95px;
  margin-top: -20px;
  width: 160px;
  margin-left: 15%;
}
.left_bar ul {
  list-style: none;
  margin: 0 0 0 50px;
  padding: 0;
}
.left_bar ul li {
  margin-bottom: 20px;
}
.left_bar ul li a {
  color: #616d8c;
  display: flex;
  font-weight: 600;
}

.top_bar {
  align-items: center;
  border-bottom: 1px solid #aed0ed;
  display: flex;
  justify-content: right;
  margin-top: 0;
  padding: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.dropbtn {
  background-color: #0483fa;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6dbcf8;
  color: whitesmoke;
  border-radius: 25px;

  margin-left: 30px;
  margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6dbcf8;
  color: whitesmoke;
  width: 50px;
  border-radius: 25px;
  padding: 10px;
}
