* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home_page {
  display: flex;
}

.menu ul li a {
  display: flex;
  align-items: center;
  color: #547de4;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 0;
  margin-right: 40px;
}

.gain-left {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.gain-left:hover {
  transform: translateX(3px);
}

.gain-left span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.gain-left:hover span {
  transform: translateX(3px);
}
.left_bar {
  background-color: #fff;
  border-right: 1px solid #6cbafe;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: 200px;
}
.menu {
  margin-top: 30px;
  border-bottom: 50px;
}
.left_bar img {
  height: 95px;
  margin-top: -15px;
  width: 160px;
  margin-left: 15%;
}

.left_bar ul {
  list-style: none;
  margin: 0 0 0 50px;
  padding: 0;
}

.left_bar ul li {
  margin-bottom: 20px;
}

.left_bar ul li a {
  color: #616d8c;
  display: flex;
  font-weight: 600;
}

.free_plan {
  bottom: 50px;
  cursor: pointer;
  display: flex;
  left: 50px;
  position: fixed;
  color: green;
}

.main_page {
  margin: 10;
  width: 100%;
}

.display {
  align-items: left;
  background-color: #d4e8f9;
  display: flex;
  flex-direction: column;

  justify-content: left;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.top_bar {
  align-items: center;
  border-bottom: 1px solid #aed0ed;
  display: flex;
  justify-content: right;
  margin-top: 0;
  padding: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: whitesmoke;
  border-radius: 25px;
  margin-left: 80px;
  margin-right: 60px;
  padding: 10px;
}

.dropbtn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 15px 30px;
}

.dropdown {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.large_button {
  font-size: 18px;
  padding: 10px 20px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown_content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.centered_content {
  font-size: 18px;
  height: 100%;
  justify-self: flex-start;
  margin-bottom: 40px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.centered_content h2 {
  font-size: 30px;
  text-align: left;
  margin: 20px 0;
  line-height: 2;
  font-weight: 100;
  margin-left: 50px;
}

.samples_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 20px;
}
.samples {
  margin-top: -20px;
}

.samples_card {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;

  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: box-shadow 0.3s;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex: 1 1 250px;
  margin: 20px;
  max-width: 300px;
  flex-direction: column;
}

.samples_card:hover {
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
}

.samples_card img {
  max-width: 100%;
}

.samples_card h3,
.samples_card p {
  margin: 10px 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: auto;
}

.button:hover {
  background-color: #0056b3;
}
